<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>328590271914-jhbuifjro7k9ebir6dtduokm8fghfgg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328590271914-jhbuifjro7k9ebir6dtduokm8fghfgg0</string>
	<key>API_KEY</key>
	<string>AIzaSyCmsLr-_BBVoleBhu5QyGIcoaSXK7Mewvo</string>
	<key>GCM_SENDER_ID</key>
	<string>328590271914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lily.LilyNetwork</string>
	<key>PROJECT_ID</key>
	<string>lily-c8096</string>
	<key>STORAGE_BUCKET</key>
	<string>lily-c8096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328590271914:ios:4586fa03498bedd1</string>
	<key>DATABASE_URL</key>
	<string>https://lily-c8096.firebaseio.com</string>
</dict>
</plist>